.table thead th{
    white-space: normal !important;
    vertical-align: top !important;
    text-align: center;
}
.table tfoot th{
    text-align: right;
}
tr.no-padding td{
    padding: 0;
}
tr.no-padding input{
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid gray;
}
.saving{
    background-color: #fff5f5;
}
.editing{
    padding: 0 !important;
}
.editing-text{
    border: 2px solid #333 !important;
}
.switch-pages{
    width: 30px;
}
.new-req{
    position: absolute;
}
.sq-table th,.page-count-from,.page-count-to{
    font-weight: 500;
}
.sq-order-num,.sq-order-dir{
    color: #a1a1a1;
    font-weight: 400;
}
.calculable,.dub-grouped{
    background-color: #fafafa;
}
.dub-rec{
    background-color: #fff5f5;
}
.ms-link{
	color: #333;
}
.err-msg{
    z-index:1000;
}
.new-table-req{
    margin:-2px;
}
.NUMBER{
    left:0;
}
.NO-NUMBER{
    right:0;
}
.select2{
    padding: .25rem !important;
}
.same-object{
    background-color:lightgray;
}
td[base=SIGNED],td[base=NUMBER]{
    white-space:nowrap;
    text-align-last: right;
}
input.inline-edit,textarea.inline-edit{
    outline: none;
    border: none;
}
.sub-totals-left{
    border-left: 2px solid darkgreen !important;
}
.sub-totals-right{
    border-right: 2px solid darkgreen !important;
}
.sub-totals-top{
    border-top: 2px solid darkgreen !important;
}
.sub-totals-bottom{
    border-bottom: 2px solid darkgreen !important;
}
.sub-totals{
    background-color: #fafafa;
}
.sub-totals-tab{
    z-index:10;
}
.right-totals{
    right: 0;
}
.tr-sticky{
    position:sticky;
    top: 48px;
    z-index: 1;   
}