<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link href="/css/smartq.css?{_global_.version}" rel="stylesheet" />
<script src="/js/smartq.js?{_global_.version}"></script> 

<!-- <link href="/download/{_global_.z}/css/smartq.css" rel="stylesheet" /> -->
<!-- <script src="/download/{_global_.z}/js/smartq.js" defer></script> -->

<div id="SqTables"></div>